@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  height: 100%;
  width: 100%;
  
}

.App {
  text-align: center;
}

@keyframes mymove {
  from {left: relative; bottom:relative}
  to {left: 45vw; bottom: 60vh;}
}

@font-face {
  font-family: blondFont;
  src: url(Blonde.ttf);
}

.mainHeader {
  background-color: rgb(57, 64, 90);
  height: 50px;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items:center;
  padding-left: 1vw;
  padding-right: 1vw;
  justify-content:space-between;
}

#headerContent { 
  display: flex;
  justify-content:space-between;
  font-family: 'Roboto', sans-serif;
}

#icon {
  align-self: center;
  margin-left: 14px;
  height:25px;
  width: 25px;
}

#link {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size:15px;
}

.logoName {
  align-self: center;
  font-family: blondFont;
  display: inline;
  font-size:18px;
}

li {
  display: inline;
  margin: 20px;
}

nav{
  align-self: center;
}

#homeTitle {
  font-family: 'Roboto', sans-serif;
}

.podcastImg {
  height: 22vmin;
  width: 22vmin;
  pointer-events: none;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.podcastSelected {
  animation: mymove 1s;
  animation-fill-mode: forwards;
  position: absolute;
}

#podcastItemLink {
  text-decoration: none;
}

#podcastItem {
  text-overflow: ellipsis;
  overflow: hidden; 
  padding: 15px;
  height: 25vmin;
  width: 22vmin;
  display:flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
  flex-direction: column;
  background-color: rgb(39, 39, 58);
}

#podcastTitle{
  text-overflow: ellipsis;
  overflow: hidden; 
  padding: 10px 2px 0 2px;
  width: 21vmin;
  display:block; 
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.7vmin;
  color: rgb(206, 203, 203);
  text-decoration: none;
  white-space: nowrap;
}

#search {
  display: flex;
  flex-direction: row;
}

#searchBar {
  text-align: left;
  padding: 12px 200px 12px 10px;
  width: 88%;
  display: inline-block;
  background-color: transparent;
  border: 3px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}

#searchBar, select, textarea {
  color: white;
  font-family: 'Roboto', sans-serif;
}

#searchBar:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

#searchSubmit{
  background-color: transparent;
  border: 3px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  width: 15%;
}

#searchImg{
  width: 22px;
  height: 22px;
}

#podcastPageItem {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

#podcastPageArticle{
  padding-left: 20px;
  width: 35vw;
}

#socialMediaPanel {
  background-color: rgb(60, 72, 126);
  border-radius: 10%;
  width: 10vw;
  text-align:center;
  font-size: 2vmin;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#podcastPageText{
  text-align: justify;
  font-size: 2vmin;
}

#podcastPageImg {
  height: 30vmin;
  width: 30vmin;
  pointer-events: none;
  border-radius: 10%;
}

#podcastPageTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 3vmin;
}

#episodeCard {
  display:flex;
  flex-direction: row;
  width: 63vmin;
  justify-content: space-between;
  padding:1.2vmin;
  background-color: rgb(60, 72, 126);
  margin: 0.6vmin;
  color: black;
  border-radius: 8px;
}

#episodeCardContent {
  display:flex;
  flex-direction: row;
  width: 61vmin;
  justify-content: space-between;
  padding-right:1.8vmin;
  background-color: rgb(60, 72, 126);
  color: black;
  border-radius: 8px;
}

#episodeTitle{
  font-size: 2vmin;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#episodeDate{
  margin-left:1vmin;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

.podcastsGrid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loaderHome {
  padding: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.solid {
  display: block;
  border: 0;
  border-top: 2px solid rgb(60, 72, 126);
  margin: 1em 0;
  padding: 0;
  width: 67vw;
}

.homeScreen {
  max-width: 100vw;
  background-color: #1b1c31;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom:70px;
}

footer {
  position: fixed;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  background: rgb(60, 72, 126);
  border-top: 2px solid #18192b;
  display: flex;
  align-items: center;
  justify-content: center;
}

audio {
  width:80%;
  height:80%;
}

audio div {
  background-color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 1400px) {
  .podcastsGrid{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1050px) {
  .podcastsGrid{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 400px) {
  .podcastsGrid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
